In [1]:
# # DATA PREPROCESSING

import pandas as pd
import numpy as np


df2= pd.read_csv("df2.csv")

df3 = df2.copy()
df3.mnth[df3.mnth.isin([5,6,7,8,9])] = 5
np.unique(df3.mnth)

D:\ANACONDA PHYTHON\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

array([ 1,  2,  3,  4,  5, 10, 11, 12], dtype=int64)

In [2]:
df3.hr[df3.hr.isin([0,1,2,3,4,5])] = 0
df3.hr[df3.hr.isin([11,12,13,14,15])] = 11
np.unique(df3.hr)

D:\ANACONDA PHYTHON\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\ANACONDA PHYTHON\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array([ 0,  6,  7,  8,  9, 10, 11, 16, 17, 18, 19, 20, 21, 22, 23],
      dtype=int64)

In [3]:
cat_cols = ['season', 'weathersit', 'weekday', 'mnth', 'hr']
df3 = pd.get_dummies(df3, columns=cat_cols, drop_first=True)

In [4]:
df3.to_csv("df3.csv")

In [5]:
df3

,Unnamed: 0,yr,holiday,workingday,temp,atemp,hum,windspeed,cnt,season_2,...,hr_10,hr_11,hr_16,hr_17,hr_18,hr_19,hr_20,hr_21,hr_22,hr_23
0,0,0,0,0,0.24,0.2879,0.81,0.0000,16,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0.22,0.2727,0.80,0.0000,40,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0.22,0.2727,0.80,0.0000,32,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0.24,0.2879,0.75,0.0000,13,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0.24,0.2879,0.75,0.0000,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16497,17374,1,0,1,0.26,0.2576,0.60,0.1642,119,0,...,0,0,0,0,0,1,0,0,0,0
16498,17375,1,0,1,0.26,0.2576,0.60,0.1642,89,0,...,0,0,0,0,0,0,1,0,0,0
16499,17376,1,0,1,0.26,0.2576,0.60,0.1642,90,0,...,0,0,0,0,0,0,0,1,0,0
16500,17377,1,0,1,0.26,0.2727,0.56,0.1343,61,0,...,0,0,0,0,0,0,0,0,1,0
16501,17378,1,0,1,0.26,0.2727,0.65,0.1343,49,0,...,0,0,0,0,0,0,0,0,0,1